\
# CODEOWNERS
# Responsáveis por revisão de código em diferentes diretórios do planador.

# Exemplo:
# /planador-firmware/ @FirmwareTeam
# /planador-hardware/ @HardwareTeam
# /planador-docs/ @DocTeam
